* {
  box-sizing: border-box;
}

.main-container {
  padding: 20px;
  height: 80vh;
}

.form {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  align-items: center;
}

.input {
  display: block;
  margin-top: 10px;
  flex-grow: 1;
}
.button,
.label,
.input {
  width: 100%;
  height: 50px;
}

#dropzone {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
